{% extends 'base.html.twig' %}

{% block main %}
   
<h1>{{ 'menu.lucky_number'|trans }}</h1>

    <div >
        <i class="fa fa-save" aria-hidden="true"></i> {{ number }}
    </div>
    
{% endblock %}